{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head;
        any other head content must come *after* these tags -->

  <title>Get Learnt</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body>

  {% if loggedIn %}
      {% include 'navbar-solid-logged-in.html'%}
  {% else %}
    {% include 'navbar-solid.html' %}
  {% endif %}
  {% block body %}
    <h1>You did it</h1>
    <p>Your Listing is titled: {{header}}</p>
    <p>The skill for this listing is {{skill}}</p>
    <p>The price is {{price}}</p>
    <p>The description is {{description}}</p>
  {% endblock %}
</body>
</html>
