<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="{% url 'index' %}" >Home</a>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <form action="/search/" method="post">
              {% csrf_token %}
              {{searchForm.search_terms}}
              <!--<button type="submit" class="btn btn-secondary">Search</span></button>-->
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

  </div>
</nav>
